<h1>Listing categories</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Color &nbsp&nbsp&nbsp&nbsp</th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr style="background-color: <%= category.color %>">
        <td><%= category.name %></td>
        <td><%= category.color %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Category', new_category_path %>
<%= link_to 'Home', root_path %>
