<li>
  <%= link_to site.url, site.url %>
  | <%= link_to "delete", site, method: :delete, data: {confirm: "You sure?"} %>
  <%= if site.was_changed
        link_to image_tag("new.jpg", size: "48"), site_path(site, was_changed: false), method: :put
      end %>
  <div id="container" style="overflow:hidden;width:500px">
    <div id="inner" style="overflow:hidden;width: 500px">
      <% Category.all.each do |cat| %>
          <div id="my-div" title="<%= cat.name %>" style="background-color: <%= cat.color %>">
            <%= link_to "", site_path(site, category_id: cat.id), class: "fill-div", method: :put %>
          </div>
          &nbsp
      <% end %>
    </div>
  </div>
</li>