<br>
<h1>Your watched resource list</h1>

<%= render @categories %>
<hr>
<ul class="sites">
  <%= render @sites.where(category_id: nil) %>
</ul>

<br>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<br>
<div class="row">
  <div>
    <%= if current_user
          form_for @site, html: {class: "form-inline"} do |f| %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter URL:
            <%= f.text_field :url, type: "search", class: "span4 offset2" %>
            <%= image_submit_tag("watch.png") %>
        <% end
           end %>
  </div>
</div>

<%= link_to 'Categories', categories_path if current_user && current_user.id==1 %>


