<!DOCTYPE html>
<html>
<head>
  <title>Site notifier</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if current_user %>
      <img src="<%= current_user.image %>" height="42" width="42">
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
      <%= link_to image_tag("signin.png"), "/auth/google_oauth2", id: "sign_in", class: "login" %>
  <% end %>
</div>
<div>
  <%= yield %>
</div>
</body>
</html>